.heading {
  text-align: center;
}

.f {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.in {
  height: 50px;
  width: 400px;
  padding-left: 5px;
}

.concern {
  width: 400px;
  height: 200px;
  padding-left: 5px;
  padding-top: 5px;
}

.btn {
  width: 200px;
  height: 80px;
  background-color: red;
  color: white;
  border-radius: 20px;
}

.btn:hover {
  background-color: blue;
  cursor: pointer;
}
